<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard | Slate Admin 2.0</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Styles -->
        <link href="./css/bootstrap.css" rel="stylesheet">
        <link href="./css/bootstrap-responsive.css" rel="stylesheet">
        <link href="./css/bootstrap-overrides.css" rel="stylesheet">

        <link href="./css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet">

        <link href="./css/slate.css" rel="stylesheet">
        <link href="./css/slate-responsive.css" rel="stylesheet">

        <link href="./css/pages/dashboard.css" rel="stylesheet">


        <!-- Javascript -->
        <script src="./js/jquery-1.7.2.min.js"></script>
        <script src="./js/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="./js/jquery.ui.touch-punch.min.js"></script>
        <script src="./js/bootstrap.js"></script>

        <script src="./js/Slate.js"></script>

        <script src="./js/plugins/excanvas/excanvas.min.js"></script>
        <script src="./js/plugins/flot/jquery.flot.js"></script>
        <script src="./js/plugins/flot/jquery.flot.orderBars.js"></script>
        <script src="./js/plugins/flot/jquery.flot.pie.js"></script>
        <script src="./js/plugins/flot/jquery.flot.resize.js"></script>

        <script src="./js/demos/charts/bar.js"></script>


        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
        <div id="nav">
            <div class="row" style="background: #666; height: 120px">
                <div class="container" style="height: 115px ;background: none;border: none; box-shadow: none;border-left: none; border-right:none; border-top:none;border-radius: none;">
                    <div class="span4">
                        <div style="width: 200px;height: 100px;background: #333;margin: 10px 0 0 0">
                            <p style="color: #fff">Marca do Sistema</p>

                        </div>
                    </div>
                    <div class="span3 offset3">
                        <div id='info'>
                            <div id='info-menu'>
                                <div class="info-details">
                                    <h4>Nome Usuario</h4>    
                                    <p>Grupo de Usuários</p>                                    
                                    <a href='#'>Configurações</a>
                                </div>
                                <div class="info-avatar">
                                    <img src="img/avatar.jpg" />
                                </div>                                
                            </div>
                            <div class="span2">
                                <a href="#" style="margin: 10px 16px 0 0;">Logout</a>
                            </div>
                        </div>
                    </div>

                </div>               
            </div>

<!--            <div class="row" style="background: #333">                
                <div class="container" style="background: none;border: none; box-shadow: none;border-left: none; border-right:none; border-top:none;border-radius: none;">
                    <div class="span12">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    Ordem de Serviço
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Nova Ordem</a></li>
                                    <li><a href="#">Visualizar Nota</a></li>
                                    <li><a href="#">Listar Notas</a></li>
                                </ul>

                            </li>
                            <li class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    Ordem de Serviço
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Nova Ordem</a></li>
                                    <li><a href="#">Visualizar Nota</a></li>
                                    <li><a href="#">Listar Notas</a></li>
                                </ul>

                            </li>
                            <li class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    Ordem de Serviço
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Nova Ordem</a></li>
                                    <li><a href="#">Visualizar Nota</a></li>
                                    <li><a href="#">Listar Notas</a></li>
                                </ul>

                            </li>
                        </ul>
                    </div>   
                </div>


            </div>-->
        </div>



    </body>
</html>
